body, html {
    height: 200%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: cadetblue;
}

.main a{
color: #45c7c4;
    
}

.sidebar a{
color: aliceblue;
    
}

a:hover{
color: coral;
    
}

h2{
    font-size: 1.5em;
    color: cadetblue;
}

.bg {
    background-image: url("https://media.giphy.com/media/l41m63eRmHknmSVEs/giphy.gif");
	background-attachment: fixed;
    opacity: 0.2;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.header {
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    width: 100%;
    text-align: center;
    color: aliceblue;
    background-color: cadetblue;
    line-height: 2em;
    z-index: 1;
}
.wrapper{

}

.sidebar {
    background-color: #45c7c4;
    position: fixed;
    top: 10%;
    left: 0;
    height: 100%;
    width: 350px;
    line-height: 2em;
}

.main {
    opacity: 1;
    position: absolute;
    top: 2%;
    left: 400px;
    height: 100%;
}



